<% provide(:title, t(".help")) %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".title1" %>
  <a href="https://www.railstutorial.org/help">https://www.railstutorial.org/help</a> <%= t ".title2" %>
  <%= t ".title3" %>
  <a href="https://www.railstutorial.org/book">https://www.railstutorial.org/book</a>
</p>
