<li>
  <%= gravatar_for user, size: Settings.sizeindex %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("users.user.delete_u"), user, method: :delete,
    data: { confirm: t("users.user.confirm") } %>
  <% end %>
</li>
